includes:
    - vendor/kuria/dev-meta/PHPStan/src.neon

parameters:
    ignoreErrors:
        - '{.*Redis::.*}'
        - '{Method Kuria\\Cache\\Driver\\Helper\\TtlHelper::normalize}A'
    reportUnmatchedIgnoredErrors: false
