<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="Cache">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="Kuria\Cache\Provider\MEMCACHE_TEST_HOST" value="127.0.0.1" />
        <const name="Kuria\Cache\Provider\MEMCACHE_TEST_PORT" value="11211" />
    </php>
</phpunit>
