<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Cache">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MEMCACHE_TEST_HOST" value="127.0.0.1"/>
        <env name="MEMCACHE_TEST_PORT" value="11211"/>
    </php>
</phpunit>
